@font-size-base: 16px;
@font-size-large: ceil((@font-size-base * 1.25)); // ~18px
@font-size-small: ceil((@font-size-base * 0.85)); // ~12px

@font-ultralight: 'montserrat-ultralight', sans-serif;
@font-light: 'montserrat-light', sans-serif;
@font-regular: 'montserrat-regular', sans-serif;
@font-bold: 'montserrat-bold', sans-serif;
@font-extrabold: 'montserrat-extrabold', sans-serif;
