.s-home {
  background: linear-gradient(135deg, @color-primary 0%, @color-secondary 100%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;

  &__content {
    width: 640px;
    max-width: 100%;
    padding: 0 20px;
  }

  &__logo {
    width: 260px;
    max-width: 100%;
    margin: 0 auto 40px auto;

    h1 {
      font-family: @font-ultralight;
      font-size: 22px;
      margin-top: 5px;
      margin-left: -2px;
      margin-right: -2px;
      line-height: 23px;
      text-align: center;
    }
  }

  &__newsletter-form {
  }

  &__newsletter-item {
    display: inline-block;
    vertical-align: middle;
  }
}